@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');





body {
    color: #333333;
    font-family: 'Poppins', Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background: #eeeeee;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #888888;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
    border-radius: 95%;
}

.main-content {
    flex-grow: 1;
    font-size: large;
}

input {
    border: 1px solid #cccccc;
    padding: 5px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

section img {
    border-radius: 50%;
}

#current {
    background: rgba(106, 90, 205, 50%);
    border: 5px solid ghostwhite;
    color: cornsilk;
    padding: 20px;
    font-size: x-large;    
    display: none;
}

 a {
    text-decoration: none;
}
